%tr
  %td= admin.id
  %td= admin.email
  %td
    - if admin.last_sign_in_at.nil? 
      %span.text-muted (never)
    - else 
      = admin.last_sign_in_at.to_s(:admin_date)
  %td
    = link_to admins_admin_path(:id => admin), :title => 'View' do
      %span.glyphicon.glyphicon-info-sign
