- content_for :additional_js do
  :javascript
    $('#user_nav a:first').tab("show")

%h1
  %span.glyphicon.glyphicon-tower
  = @admin.email

.row
  .col-xs-12
    #history.tab-pane
      .row
        .col-xs-12
          .page-header
            %h3 History
      .row
        .col-xs-12
          = render :partial => 'admins/logs/logs', :locals => {:logs => @logs}
