%footer
  .container
    .row
      .col-md-4
        %h4 FTW Lawn Care
        %p &copy; 2013 FTW Lawn Care.  All Rights Reserved.
      .col-md-4
        %h4 All Your Lawns Are Belong To Us
        %p And we'll take really good care of them.
      .col-md-4
        %h4 Helpful links:
        %ul
          %li
            = link_to 'Privacy policy', 'privacy'
          %li
            = link_to 'Terms of service', 'terms'
