%nav.navbar.navbar-default{:role=>'navigation'}
  .navbar-header
    %button.navbar-toggle{:type=>'button',:data => {:toggle=>'collapse',:target=>'.navbar-ex1-collapse'}}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href=>'/'}
      FTW Lawn Care

  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li
        %a{:href=>'/about'} About
      %li
        %a{:href=>'/feedback'} Feedback
