!!!5
%html
  %head
  %title FtwLawnCare
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = csrf_meta_tags
%body
  = render 'shared/masquerade'
  = render 'layouts/nav_bar'
  .content
    .container
      = render 'shared/flash_messages'
      = yield
  = render 'layouts/footer'

  %script{:src => 'http://code.jquery.com/jquery.js', :type => 'text/javascript'}
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = yield :additional_js
