.page-header
  %h1 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
  = devise_error_messages!
  = f.hidden_field :initial_plan, :value => params[:plan]
  .form-group
    = f.label :email, :class => 'control-label col-sm-2'
    .col-sm-6
      = f.email_field :email, :autofocus => true, :class => 'form-control'
  .form-group
    = f.label :password, :class => 'control-label col-sm-2'
    .col-sm-6
      = f.password_field :password, :class => 'form-control col-sm-2'
  .form-group
    = f.label :password_confirmation, :class => 'control-label col-sm-2'
    .col-sm-6
      = f.password_field :password_confirmation, :class => 'form-control'
  .form-group
    .col-sm-6.col-sm-offset-2
      = f.submit "Sign up", :class => 'btn btn-primary'
= render "devise/shared/links"
