%tr
  %td.text-danger
    %span.glyphicon.glyphicon-warning-sign
  %td.small= l.created_at.to_s(:admin_date)
  %td.small= l.id
  %td.small &nbsp;
  %td.small= l.action_type
  %td.small= l.description
