%tr
  %td.text-info
    %span.glyphicon.glyphicon-user
  %td.small= l.created_at.to_s(:admin_date)
  %td.small= l.id
  %td.small= l.admin.email
  %td.small.text-info= l.action_type
  %td.small.text-info= l.description
