%tr
  %td.text-success
    %span.glyphicon.glyphicon-send
  %td.small= l.created_at.to_s(:admin_date)
  %td.small= l.id
  %td.small= l.admin.email
  %td.small= l.action_type
  %td.small= l.description
