.row
  .col-xs-12
    %h1 Admins

.row
  .col-xs-12
    = paginate @admins

    %table.table.table-condensed.table-striped
      %thead
        %tr 
          %th ID
          %th Email
          %th Last Sign In
          %th &nbsp;
      %tbody
        = render :partial => 'admin', :collection => @admins

    = paginate @admins
