.row
  .col-xs-12
    %h1 Users

.row
  .col-xs-12
    .panel.panel-default
      .panel-heading Search
      .panel-body
        %form.form-inline{:action => admins_users_path, :method => :get}
          .form-group
            %label.sr-only{:for => 'user_search_email'} Search users by email
            .input-group
              %span.input-group-addon
                %span.glyphicon.glyphicon-envelope
              %input#user_search_email.form-control{:type => 'email', :placeholder => 'Search users by email', :name => 'user_search[email]', :value => params[:user_search].try(:[], :email)}
          - if params[:user_search]
            = link_to 'clear', admins_users_path

.row
  .col-xs-12
    = paginate @users

    %table.table.table-condensed.table-striped
      %thead
        %tr 
          %th ID
          %th Email
          %th Confirmed?
          %th Last Sign In
          %th &nbsp;
      %tbody
        = render :partial => 'user', :collection => @users

    = paginate @users
