.row
  .col-xs-12
    .page-header
      %h1 
        %span.glyphicon.glyphicon-dashboard
        Your Account 

.row
  .col-xs-12
    .panel.panel-primary
      .panel-heading
        %h3.panel-title 
          1. Choose a plan
      .panel-body
        .row.signup_row
          .col-sm-4
            - if current_user.initial_plan == 'weekly'
              %span.glyphicon.glyphicon-hand-right
            = link_to 'Sign up for weekly service', hosted_page_path('weekly'), :class => 'btn btn-primary'
          .col-sm-4
            - if current_user.initial_plan == 'biweekly'
              %span.glyphicon.glyphicon-hand-right
            = link_to 'Sign up for Bi-weekly service', hosted_page_path('biweekly'), :class => 'btn btn-primary'
          .col-sm-4
            - if current_user.initial_plan == 'monthly'
              %span.glyphicon.glyphicon-hand-right
            = link_to 'Sign up for monthly service', hosted_page_path('monthly'), :class => 'btn btn-primary'

    .panel.panel-default
      .panel-heading
        %h3.panel-title 2. Schedule your service
      .panel-body
        Here's the service selection

    .panel.panel-default
      .panel-heading
        %h3.panel-title 3. Have an awesome lawn
      .panel-body
        Read our newsletter in the meantime
