- if admin_signed_in?
  - if user_signed_in?
    %div.alert.alert-info.alert-dismissable
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      You are #{current_admin.email} masquerading as #{current_user.email}. (#{link_to 'Sign Out', destroy_user_session_path, :method => :delete})

