%tr
  %td= user.id
  %td= user.email
  %td
    - if user.confirmed_at.nil?
      %span.text-danger.glyphicon.glyphicon-thumbs-down
    - else
      %span.text-success.glyphicon.glyphicon-thumbs-up
  %td
    - if user.last_sign_in_at.nil? 
      %span.text-muted (never)
    - else 
      = user.last_sign_in_at.to_s(:admin_date)
  %td
    = link_to admins_user_path(:id => user), :title => 'View' do
      %span.glyphicon.glyphicon-info-sign
