- content_for :additional_js do
  :javascript
    $('#user_nav a:first').tab("show")

%h1= @user.email

.row
  .col-xs-12
    .well
      = link_to impersonate_admins_user_path(:id => @user.id), :class => 'btn btn-primary', :method => :post do
        %span.glyphicon.glyphicon-eye-open
        Masquerade as this user
      - if @user.confirmed?
        = link_to reset_password_admins_user_path(:id => @user.id), :class => 'btn btn-primary', :method => :post do
          %span.glyphicon.glyphicon-random
          Reset password
      - else
        = link_to resend_confirmation_admins_user_path(:id => @user.id), :class => 'btn btn-primary', :method => :post do
          %span.glyphicon.glyphicon-send
          Resend confirmation

.row
  .col-xs-12
    %ul.nav.nav-tabs#user_nav
      %li.active
        %a{:href => '#info',  :data => {:toggle=>'tab'}} Info
      %li
        %a{:href => '#history', :data => {:toggle=>'tab'}} History

.row
  .col-xs-12
    .tab-content
      #info.tab-pane.active
        .row
          .col-xs-12
            .page-header
              %h3 Info
        .row
          .col-xs.12
            %table.table.table-condensed.table-striped
              %tbody
                %tr
                  %th ID
                  %td= @user.id
                %tr
                  %th Email
                  %td= @user.email
                %tr
                  %th Confirmed?
                  %td
                    - if @user.confirmed_at.nil?
                      %span.text-danger.glyphicon.glyphicon-thumbs-down
                      = link_to confirm_admins_user_path(:id => @user.id), :class => 'btn btn-primary', :method => :post do
                        %span.glyphicon.glyphicon-thumbs-up
                        Confirm user
                    - else
                      %span.text-success.glyphicon.glyphicon-thumbs-up
                      = @user.confirmed_at.to_s(:admin_date)
                %tr
                  %th Last sign in
                  %td= @user.last_sign_in_at.try(:to_s, :admin_date)
      #history.tab-pane
        .row
          .col-xs-12
            .page-header
              %h3 History
        .row
          .col-xs-12
            %p.alert.alert-info
              %span.glyphicon.glyphicon-bullhorn
              Coming soon!
