.row
  .col-xs-12
    = image_tag 'logo_small.png'
    %h1 We make lawns epic!

.row
  .col-sm-12
    %h2 Choose the service plan that is right for you:

  .row
    .col-md-4.pricing
      .name 
        %h3 Weekly
      .feature
        Weekly service
        %span.glyphicon.glyphicon-ok.pull-right
      .feature
        Mowing
        %span.glyphicon.glyphicon-ok.pull-right
      .feature
        Trimming
        %span.glyphicon.glyphicon-ok.pull-right
      .feature
        $24.95/week
        %span.glyphicon.glyphicon-ok.pull-right
      .sign_up
        = link_to 'Sign up for Weekly', 'https://paymentguides-dev.chargify.com/h/3365355/subscriptions/new'

    .col-md-4.pricing.featured
      .name 
        %h3 Bi-weekly
      .feature
        Service every 2 weeks
        %span.glyphicon.glyphicon-ok.pull-right
      .feature
        Mowing
        %span.glyphicon.glyphicon-ok.pull-right
      .feature
        Trimming
        %span.glyphicon.glyphicon-ok.pull-right
      .feature
        $39.95/2 weeks
        %span.glyphicon.glyphicon-ok.pull-right
      .sign_up
        = link_to 'Sign up for Bi-weekly', 'https://paymentguides-dev.chargify.com/h/3365907/subscriptions/new', :class => 'btn btn-primary'

    .col-md-4.pricing
      .name 
        %h3 Monthly
      .feature
        Montly service
        %span.glyphicon.glyphicon-ok.pull-right
      .feature
        Mowing
        %span.glyphicon.glyphicon-ok.pull-right
      .feature
        Trimming
        %span.glyphicon.glyphicon-ok.pull-right
      .feature
        $74.95/month
        %span.glyphicon.glyphicon-ok.pull-right
      .sign_up
        = link_to 'Sign up for Monthly', 'https://paymentguides-dev.chargify.com/h/3365909/subscriptions/new'

.row
  .col-xs-12
    %h2 Newsletter
    %p We also publish a newsletter full of great infomration for maintaining a healthy lawn.
    %p= link_to 'Subscribe!', 'https://paymentguides-dev.chargify.com/h/3365911/subscriptions/new', :class => 'btn btn-primary'

