/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

// overrides
$brand-primary: #47CD43;
$navbar-default-bg: $brand-primary;
$navbar-default-link-color: white;

@import "twitter/bootstrap"; // Override variables ABOVE this line

$featured: #F9662D;

footer {
  background-color: #603C2E;
  padding: 2.0em;
  color: white;
}

nav.navbar {
  margin-bottom: 0;
}

.content {
  background-color: $gray-lighter;
}

.pricing {
  div {
    background-color: white;
    padding: 1.0em;
  }

  .name {
    padding: 1.0em;
    background-color: $brand-primary;
    color: white;
    text-align: center;
    border-radius: $border-radius-large $border-radius-large 0px 0px;
    h3 {
      margin: 0;
    }
  }

  &.featured {
    .name {
      background-color: $featured;
    }
  }

  .feature {
    font-size: 1.25em;
    border-bottom: 1px solid $gray-lighter;

    .glyphicon {
      color: $brand-success;
    }
  }

  .sign_up {
    border-radius: 0px 0px $border-radius-large $border-radius-large;
    text-align: center;
    a.btn {
      font-size: 1.5em;
    }
  }
}

.signup_row {
  .col-sm-4 {
    text-align: center;
    border-left: 1px solid $gray-lighter;

    &:first-child {
      border-left: 0;
    }
  }
}
