!!!
%html
  %head
    %title Admin
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %link{ :rel => 'shortcut icon', :href => "/images/favicon.ico", :type => "image/x-icon"}
    = stylesheet_link_tag 'admin'
    = csrf_meta_tags

  %body{:class => I18n.locale.to_s}
    %nav.navbar.navbar-inverse
      .container
        %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "Admin", '/admins', :class => 'navbar-brand'
        .nav-collapse.collapse.bs-navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to 'Users', admins_users_path
        %p.navbar-text.pull-right
          - if current_admin
            = current_admin.email
            = link_to '(Logout)', destroy_admin_session_path
          - else
            = link_to 'Login', admin_omniauth_authorize_path(:google_oauth2)
    .container#main_wrapper
      .row
        - if current_admin
          .col-md-3
            %ul.nav.nav-pills.nav-stacked
              %li{:class => @top_nav == 'users' && 'active'}
                = link_to admins_users_path do
                  %span.glyphicon.glyphicon-user
                  Users
              %li{:class => @top_nav == 'admins' && 'active'}
                = link_to admins_admins_path do
                  %span.glyphicon.glyphicon-tower
                  Admins
              %li{:class => @top_nav == 'logs' && 'active'}
                = link_to '/admins/logs' do
                  %span.glyphicon.glyphicon-list-alt
                  Logs
              %li{:class => @top_nav == 'queue' && 'active'}
                = link_to '/admins/queue' do
                  %span.glyphicon.glyphicon-wrench
                  Queue
            %hr

            .row
              .col-xs-12
                Total users:
                %span.text-success= User.count

            %hr 

            .row
              .col-xs-12
                = render :partial => 'shared/masquerade'

              
          .col-md-9
            #main
              = render 'layouts/the_flash'
              = yield
        - else # The admin is not logged in
          .col-md-12
            = yield

    %script{:src => 'http://code.jquery.com/jquery.js', :type => 'text/javascript'}
    = javascript_include_tag 'application'
    = yield :additional_js
