.row
  .col-xs-12
    %h1 Queue health

.row
  .col-xs-9
    %table.table.table-condensed.table-striped
      %tbody
        %tr
          %th Jobs in queue
          %td= @report[:count]
        %tr
          %th Errors in queue
          %td= @report[:errors_in_queue]
        %tr
          %th Oldest job in queue
          %td
            - if @report[:oldest_job_in_queue]
              - if @report[:oldest_job_in_queue].created_at < Time.now.advance(:minutes => -5)
                %span.text-danger.glyphicon.glyphicon-warning-sign
              = @report[:oldest_job_in_queue].created_at.to_s(:admin_date)
              (#{distance_of_time_in_words(@report[:oldest_job_in_queue].created_at, Time.now)} ago)

- if @report[:oldest_job_in_queue] && @report[:oldest_job_in_queue].created_at < Time.now.advance(:minutes => -5)
  %p.alert.alert-danger
    %span.glyphicon.glyphicon-warning-sign
    The oldest job in the queue is pretty old.  Are the workers running?


.row
  .col-xs-12
    .page-header
      %h2 Jobs

    = paginate @jobs

    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th ID
          %th Created at
          %th Priority
          %th Queue
          %th Handler
          %th Last Error
          %th Failed At
      %tbody
        - @jobs.each do |j|
          %tr{:class => j.failed_at && 'danger'}
            %td= j.id
            %td.small= j.created_at.to_s(:admin_date)
            %td= j.priority
            %td
              - if j.queue == 'mailer'
                %span.glyphicon.glyphicon-envelope
              - else
                = j.queue
            %td{:title => j.handler}= j.handler.truncate(30)
            %td= j.last_error
            %td= j.failed_at.try(:to_s, :admin_date) 

    = paginate @jobs

        
