.page-header
  %h1 Sign in

= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
  .form-group
    = f.label :email, :class => 'control-label col-sm-2'
    .col-sm-6
      = f.email_field :email, :autofocus => true, :class => 'form-control'
  .form-group
    = f.label :password, :class => 'control-label col-sm-2'
    .col-sm-6
      = f.password_field :password, :class => 'form-control'
  - if devise_mapping.rememberable?
    .form-group
      .col-sm-10.col-sm-offset-2
        = f.check_box :remember_me
        = f.label :remember_me
  .form-group
    .col-sm-10.col-sm-offset-2
      = f.submit "Sign in", :class => 'btn btn-primary'
= render "devise/shared/links"
