= paginate logs

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th &nbsp;
      %th Time
      %th ID
      %th Admin
      %th Action Type
      %th Description
  %tbody
    - logs.each do |l|
      = render :partial => "admins/logs/#{l.action_type}", :locals => {:l => l}

= paginate logs
